@font-face{
    font-family: "Airbnb Cereal";
    src: url('assets/fonts/AirbnbCereal-Medium.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Airbnb Cereal";
    src: url('assets/fonts/AirbnbCereal-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: "Airbnb Cereal";
    src: url('assets/fonts/AirbnbCereal-Bold.ttf') format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: "Airbnb Cereal";
    src: url('assets/fonts/AirbnbCereal-Black.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: "Airbnb Cereal";
    src: url('assets/fonts/AirbnbCereal-ExtraBold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

:root{
    --main-bg-color: #f3f5ff;
    --primary-color: #0779e4;
    --timing-fade: .5s;
    --spacing-screen: 20px 40px;
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body{
    background: var(--main-bg-color);
    font-family: "Airbnb Cereal", Open Sans, Arial, Helvetica, sans-serif;
}

section#home{
    height: 100%;
    width: 100%;
    padding: var(--spacing-screen);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

section#home .home__title{
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}

section#home ul.home__game-list{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 40px;
}

section#home ul.home__game-list li{
    margin-top: 20px;
    padding: 8px 24px;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 7px;
    background: var(--primary-color);
    color: white;
    cursor: pointer;
    box-shadow: 0 6px 12px -3px rgba(0,0,0,0.3);
}

section#home ul.home__game-list li:first-child{
    margin-top: 0;
}

section#home .game{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: var(--spacing-screen);
    opacity: 0;
    display: none;
    flex-flow: column nowrap;
    align-items: center;
    background: var(--main-bg-color);
}

.game .material-icons{
    font-size: 64px;
    cursor: pointer;
    align-self: flex-end;
}

section#home main.game--fadeIn{
    display: flex !important;
    opacity: 0;
    animation: fadeIn var(--timing-fade) forwards;
}

section#home main.game--fadeOut{
    display: flex;
    opacity: 1;
    animation: fadeOut var(--timing-fade) forwards;
}

@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

@keyframes fadeOut{
    to{
        opacity: 0;
    }
}